<html>
    <head>
        <link rel="stylesheet" href="todo.css" type="text/css" media="screen" />
        <script type="text/javascript" src="vendor/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="vendor/underscore.js"></script>
        <script type="text/javascript">
            var Underscore = _.noConflict();
        </script>
        <script class="jst" type="text/html" name="todos">
            <ul>
                <% _(items).each(function(item) { %>
                <li>
                    <input type="checkbox" <%= item.checked ? "checked" : "" %> />
                    <span>
                        <%= item.title %>
                    </span>
                </li>
                <% } %>
            </ul>
        </script>
        <script type="text/javascript" src="todo.js"></script>
    </head>
    <body>
        <ul id="todos">
        </ul>
    </body>
</html>
